<header>
    <nav class="navegation">
        <div class="logoIESEN" (click)="gohome()">
            <img src="./assets/IESENlogo.png" class="img">
            <p class="nombreInstitucion">INSTITUTO DE ESTUDIOS SUPERIORES <br> DE EDUCACIÓN NORMAL</p>
        </div>
        <div class="navComponets">
            <div class="navComponet" (click)="goDestacados()"><p>DESTACADO</p></div>
            <div class="navComponet" (click)="goNosotros()"><p>NOSOTROS</p></div>
            <div class="navComponet" (click)="goContacto()"><p>CONTACTO</p></div>
        </div>
    </nav>
</header>
<app-inicio data="salida"></app-inicio>
